In [3]:
tupla_nomes = ("Marlene, 'Zezinho','Marlene','Cilbele,'Zuely")

In [ ]:
tupla_nomes.count

In [5]:
d = {"laranjas": 15, "bananas": 35, "siriguelas": 12}
d["bananas"]

35

In [6]:
d['pitomba'] = 20
len(d)

4

In [7]:
'pitomba' in d

True

In [8]:
del d['laranjas']

In [9]:
'laranjas' in d

False

In [10]:
frutas = ["pinha","oiti coró","jaca","tamarindo"]

In [11]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [12]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]